@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");
* {
  color: #6d2eff;
  font-family: "Roboto Mono";
  padding: 5px;

}
.center {
  height: fit-content;
  padding: 25px 50px 25px 50px;
  border: 1px solid #582eff;
  background: #582eff21;
  justify-content: center;
  display: flex;
}
.center1 {
  width: fit-content;
  height: fit-content;
  padding: 25px 50px 25px 50px;
  border: 1px solid #582eff;

}
.text-center{
    text-align: center;
}

.layout{
    border:1px solid #582eff;
    margin: 10px;
    color: white;
}

/* Additional */

.button{
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  border: 1px border crimson;
  width: 200px;
  cursor: progress;

}